:root {
  --font-family: system-ui, sans-serif;
  --font-family--heading: var(--font-family);
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;
  --line-height: 1.5;
  --line-height--heading: 1.2;
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #1565c0;
  --duration: 150ms;
  --timing: ease; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing--small) var(--spacing);
  text-align: center;
  text-decoration: none;
  transition: background-color var(--duration) var(--timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover,
  [type="button"]:hover,
  [type="reset"]:hover,
  [type="submit"]:hover {
    background-color: #3b83d5; }
  button:focus,
  [type="button"]:focus,
  [type="reset"]:focus,
  [type="submit"]:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset); }
  button:disabled,
  [type="button"]:disabled,
  [type="reset"]:disabled,
  [type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

:root {
  --form-box-shadow: inset 0 --border-width 0.1875rem rgba(#000, 0.06);
  --form-box-shadow-focus: var(--form-box-shadow), 0 0 0.3125rem #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: var(--spacing--small);
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--spacing--small); }

input,
select,
textarea {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem; }

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  appearance: none;
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--form-box-shadow);
  box-sizing: border-box;
  margin-bottom: var(--spacing--small);
  padding: calc(var(--spacing) / 3);
  transition: border-color var(--duration) var(--timing);
  width: 100%; }
  [type="color"]:focus,
  [type="date"]:focus,
  [type="datetime"]:focus,
  [type="datetime-local"]:focus,
  [type="email"]:focus,
  [type="month"]:focus,
  [type="number"]:focus,
  [type="password"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="text"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  [type="week"]:focus,
  input:not([type]):focus,
  textarea:focus {
    box-shadow: var(--form-box-shadow-focus); }
  [type="color"]:disabled,
  [type="date"]:disabled,
  [type="datetime"]:disabled,
  [type="datetime-local"]:disabled,
  [type="email"]:disabled,
  [type="month"]:disabled,
  [type="number"]:disabled,
  [type="password"]:disabled,
  [type="search"]:disabled,
  [type="tel"]:disabled,
  [type="text"]:disabled,
  [type="time"]:disabled,
  [type="url"]:disabled,
  [type="week"]:disabled,
  input:not([type]):disabled,
  textarea:disabled {
    cursor: not-allowed; }
    [type="color"]:disabled:hover,
    [type="date"]:disabled:hover,
    [type="datetime"]:disabled:hover,
    [type="datetime-local"]:disabled:hover,
    [type="email"]:disabled:hover,
    [type="month"]:disabled:hover,
    [type="number"]:disabled:hover,
    [type="password"]:disabled:hover,
    [type="search"]:disabled:hover,
    [type="tel"]:disabled:hover,
    [type="text"]:disabled:hover,
    [type="time"]:disabled:hover,
    [type="url"]:disabled:hover,
    [type="week"]:disabled:hover,
    input:not([type]):disabled:hover,
    textarea:disabled:hover {
      border: var(--border); }
  [type="color"]::placeholder,
  [type="date"]::placeholder,
  [type="datetime"]::placeholder,
  [type="datetime-local"]::placeholder,
  [type="email"]::placeholder,
  [type="month"]::placeholder,
  [type="number"]::placeholder,
  [type="password"]::placeholder,
  [type="search"]::placeholder,
  [type="tel"]::placeholder,
  [type="text"]::placeholder,
  [type="time"]::placeholder,
  [type="url"]::placeholder,
  [type="week"]::placeholder,
  input:not([type])::placeholder,
  textarea::placeholder {
    color: #333;
    opacity: 0.25; }

[type="search"] {
  -webkit-appearance: textfield; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: var(--spacing--small); }

[type="file"] {
  margin-bottom: var(--spacing--small);
  width: 100%; }

select {
  margin-bottom: var(--spacing--small);
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset); }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: var(--spacing) 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: var(--line-height--heading);
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: var(--border); }

th {
  font-weight: 600; }

th,
td {
  padding: var(--spacing--small) var(--spacing--small) var(--spacing--small) 0; }

html {
  color: #333;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--heading);
  font-size: 1.25rem;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small); }

p {
  margin: 0 0 var(--spacing--small); }

a {
  color: #1565c0;
  text-decoration-skip-ink: auto;
  transition: color var(--duration) var(--timing); }
  a:hover {
    color: #3b83d5; }
  a:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset); }

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0; }

@font-face {
  font-family: "Afta-Sans";
  src: url("../assets/fonts/afta-sans/AftaSansThin-Regular.otf") format("truetype"); }
@font-face {
  font-family: "Chunk";
  src: url("../assets/fonts/ChunkFive/Chunkfive.otf") format("truetype"); }
@font-face {
<<<<<<< HEAD
  font-family: "Speck";
=======
  font-family: 'Speck';
>>>>>>> 94c38cc721e693fd584c238da1e8f001881a8192
  src: url("../assets/fonts/Speck-Display.otf") format("truetype"); }
@font-face {
  font-family: 'Paranoid';
  src: url("../assets/fonts/Paranoid.otf") format("truetype"); }
.text-shadows {
  text-shadow: 1px 1px 2px #515358; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

h1 {
  display: inline-block;
  margin-top: 1.3em;
  vertical-align: top;
  font-size: 3em; }

.cart {
  display: inline-block;
  border-radius: 10%;
  background-color: #515358;
  color: #FCFCFC;
  padding: .5em;
  text-align: center;
  height: 80px;
  width: 80px;
  min-height: 80px; }
  .cart p {
    font-size: 1.2vmax; }

.container {
  padding: 2em 0;
  width: 95%;
  margin: auto;
  box-shadow: 0 0 8px #515358;
  background-image: url("../assets/images/pow-star/pow-star.png"); }

h1 {
  animation-duration: 10s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; }

.additional, .wrapper {
  padding: 2em 0;
  width: 95%;
  margin: auto; }

.featured {
  background-image: url("../assets/images/pow-star/pow-star.png") !important; }

h2 {
  text-align: center;
  font-family: "Paranoid";
  font-size: 5vmax; }

button {
  background-color: orange !important;
  background-image: url("../assets/images/wov/wov.png") !important;
  box-shadow: 0 0 8px gainsboro; }

button:hover {
  animation-duration: 6s;
  animation-name: float-button;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes float {
  0% {
    transform: translate(0px); }
  20% {
    transform: translate(14px, -14px) scale(1.01); }
  40% {
    transform: translate(-14px, -14px) scale(0.99); }
  60% {
    transform: translate 0px, 14px; }
  80% {
    transform: translate(-14px, 0px) scale(0.99); }
  100% {
    transform: translate(-14px, -14px); } }
@keyframes float-button {
  0% {
    transform: translate(0px); }
  20% {
    transform: translate(2px, -2px) scale(1.01); }
  40% {
    transform: translate(-2px, -2px) scale(0.99); }
  60% {
    transform: translate 0px, 2px; }
  80% {
    transform: translate(-2px, 0px) scale(0.99); }
  100% {
    transform: translate(-2px, -2px); } }
<<<<<<< HEAD
=======
body {
  background-color: gainsboro;
  color: #515358;
  font-family: "Afta Sans"; }

h1 {
  font-family: "Speck";
  text-align: center; }

>>>>>>> 94c38cc721e693fd584c238da1e8f001881a8192
img {
  width: 100px; }

.featured {
  display: flex;
  width: 98%;
  margin: auto;
  justify-content: space-around;
  background-color: #909090; }
  .featured div {
<<<<<<< HEAD
    width: 40; }
  .featured h3 {
    font-family: "Chunk"; }

body {
  background-color: gainsboro;
  color: #515358;
  font-family: "Afta Sans"; }

h1 {
  font-family: "Speck";
  text-align: center; }

=======
    width: 35%; }
  .featured h3 {
    font-family: "Chunk"; }

>>>>>>> 94c38cc721e693fd584c238da1e8f001881a8192
.featured-content, .beef-log, .cheese-log {
  border: 1px solid rgba 200, 200, 200, 0.5;
  box-shadow: 0 0 8px silver;
  background-color: white;
  text-align: center;
  padding: .5em; }

.beef-log {
  color: #F1534E; }

.cheese-log {
  color: #FFCF73; }

h1 {
  font-size: 60px; }

/*# sourceMappingURL=main.css.map */
