*{
    border: solid 2px;
}
.parent{
    height: 100vh;
    border: red 5px solid;
    padding: 2%;
    display: flex;
}

.child{
    height: 100%;
    flex: 1;
    /* flex: 1; */
    border: solid purple;
}

.child-2{
    flex: 2;
}



/* .leftcolumn{
display: flex;
justify-content: center;
align-items: center;
width: 30%;
}

.toprow{
    display: flex;
    justify-content: space-between;
    /* height: 400px; */
    /* margin-left: 30% */
    /* flex: 1; */
    /* flex-direction: row; */
 
/*     
}

.toppicture{
    display: flex;
    justify-content: space-between;
    
    
}

nav{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
}

.middlerowcontainer{
 display: flex;
 justify-content: space-between;
}

.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomcontainer{
    display: flex;
    flex-direction: row;

}

.bmid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img{
    width: 100%;
}

.logo{
    width: 90px;
  
} */ */