body {
  background: rgba(233, 244, 255 , 1);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1%;
  background-color: #dde9f7;
  justify-content: center;
  

}
.a{
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 30vh;
  background-color: aqua; 
  align-items: center;
  justify-content: center;

}

.b{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 40vh!important ;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  margin: 1%;

}


.f{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 40vh;
  background-color: red;
  align-items: center;
  justify-content: center;
  margin: 1%;
  
}
