.navbar-expand-lg {
    background-color: #1b1b1b !important;    
}

.text-white {
    color: rgb(229, 223, 217)!important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    color: rgb(229, 223, 217)
}

.btn{
    background-color: #1b1b1b !important; 
    color:  rgb(229, 223, 217);

}

