body {
    background: #e2e1e0;
    /* text-align: center; */
  }

  .title{
      display: flex;
      background: rgb(25, 203, 206);
      /* border: solid 1px gold; */
      width: 100vw;
      height: auto;
      justify-content: space-evenly;
      text-align: center;
      font-family: 'Comfortaa', cursive;
      margin-bottom: 3%;
  }
  nav {
    padding-bottom: 20px;
    display: flex;
}

nav a {
    color: black;
    padding: 0px 15px 15px 0;
    align-self: flex-end;
    font-family: 'Comfortaa', cursive;
    color: white;
}
h1, li, a{
    font-family: 'Comfortaa', cursive;
}

.delete{
    width: 300px;
    background: red;
    border-radius: 2px;
    position: relative;
    top: -22px;
    left: 15px;
    color: white
    
}
.right{
    display: flex;

}
.buttons{
    background: rgb(25, 203, 206);
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    left: 16px;
    top: -20px;

}

.seeMore, .edit{
    color: white;
    margin-top: 5%;
}
  .parent{
      /* border: solid 5px red; */
      display: flex;
      width: 100vw;
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .card {
    background: #fff;
    border-radius: 2px;
    /* display: inline-block; */
    height: 300px;
    margin: 1rem;
    /* position: relative; */
    width: 300px;
  }

  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  