body {
background-color: burlywood;
margin: auto;
padding: 2.5%;
}
h1 {
    color: aquamarine;
    text-align: center;
}
h3 {
    color: cornsilk;
}
nav > a {
    display: inline-block;
    width: 24%;
    text-align: center;
    color: blanchedalmond;
  }
  .SB {
    background: ghostwhite;
    display: inline-block;
    width: 49%;
    padding: 2%;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 16px;
  }

  