@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



body {
  line-height: 1;
  background: white;
  color: green;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

.home {
  height: 100%;
  width: 100%;
  text-align: center;
  .Aligner {
    min-height: 85vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .Aligner-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .menu ul li {
    padding: 10px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .version-num {
    background: #E8E8E8;
    border-radius: 4px;
    padding: 7px 15px;
    display: inline-block;
    font-size: 12px;
    margin: 10px 0 20px;
  }
  a {
    text-decoration: none;
    color: #30395C;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #43D4D6;
  }
}
.Page-wrapper{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  .Page {
    display: flex;
    justify-content: space-around;
    width: calc(100vw - 50px);
    .column {
      width: 100%;
      margin-left: 25px;
      .heading{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: 0.1px solid transparentize(black, .35);
        width: 100%;
      }
    }
  }
  .winnie{
    background-color: #8E6E95;
  }
  .bob{
    background-color: #39A59C;
  }
  .thomas{
    background-color: #344759;
  }
  .george{
    background-color: #E8741E;
  }
}
