
.container{
    max-width: 400px;
}


.red{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: inline-block;
    background-color: red;
}

.black{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: inline-block;
    background-color: black;

}