*{
   box-sizing: border-box; 
}
body{
    margin: 0;
    font-family:Helvetica;
}
header{
    display: flex;
    background-color: red;
    height: 100px;
}

.header-child{
    flex: 2;
    /* align-items: left; */
}

.top{
    display: flex;
    flex-direction: column;
   height: 500px;
   /* background-color: royalblue; */
}

.top-columns{
    flex-direction: column;
    flex: 1;
    border: 2px solid red;
    height: 100%;
 
}
/* div :nth-child()(0){
    text-align: center;
   
} */
nav{
    display: none;
}

@media only screen and (min-width: 768px) {
.top{
    display: flex;
    border: solid 2px blue;
  

}

}

