.parent{
    display: flex;
    /* border: 2px solid black; */
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.children{
    /* border: 2px solid black; */
    width: 600px; 
    height: 20vh;
    /* margin: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#count-display{
    /* border: 2px solid black; */
    width: 1500px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    text-align: center;
    border: none;
    
}
/* 
.gchild1{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 5px;
    /* flex: ; */
/* }  */
#input-box{
    width: 100px;
    height: 94px;
    border: 2px solid gray;
    border-radius: 5%;
    font-size: 4em;
    text-align: center;
    margin: 5%;

}
#subtract{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 5%;
    font-size: 4em;
    color: white;
    background-color: gray;
    margin: 10%;
}
#add{
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 5%;
    font-size: 4em;
    color: white;
    background-color: gray;
}




