h1 {
    display: block;
    text-align: right;
}
nav {
    display: inline;
    text-align: right;
    float: right;
    margin: 10px;
    padding: 10px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
  
   
}
li a {
display: inline;
text-align: right;
  padding: 10px;
}

/* nav > h1 {
    display: inline;
    font-size: 3em;
  } */
  h3 {
      text-align: center;

  }
img {
    width: 300px;
    height: 500px;
    margin-bottom: 25px;
    /* padding: 40px; */
    align-items: center;
}
.Concierge {
    
   border: 1px solid gray;
   border-radius: 15px;
        display: inline-block;
        width: 40%;
        padding: 2%;
        box-sizing: border-box;
        vertical-align: top;
        margin-bottom: 5px;
    /* border: 3px solid gray;
    width: 30%;
    padding: 2px;
    height: 225px;
    display: inline-block;
    float: left;
    margin: 10px;
    box-sizing: border-box; */
    
}
.Concierge img {
    width: 100%;
    height: 200px;
    clear: left;
    padding-left: 0px;
}
.Doctor {
    border: 1px solid gray;
    border-radius: 15px;
        display: inline-block;
        width: 40%;
        padding: 2%;
        box-sizing: border-box;
        vertical-align: top;
        margin-bottom: 5px;
    /* border: 3px solid gray;
    stroke-width: 5%;
    width: 30%;
    height: 225px;
    display: inline-block;
    float: left;
    margin: 10px;
    box-sizing: border-box; */

   

}
.Doctor img {
    width: 100%;
    height: 200px;
    clear: left;
    padding-left: 0px;
}
.Oscar {
    border: 1px solid gray;
    border-radius: 15px;
        display: inline-block;
        width: 40%;
        padding: 2%;
        box-sizing: border-box;
        /* vertical-align: top; */
        margin-bottom: 5px;
      }
    /* border: 3px solid gray;
    stroke-width: 5%;
    width: 30%;
    height: 225px;
    display: inline-block;
    float: left;
    margin: 10px;
    box-sizing: border-box; */
    
.Oscar img {
    width: 100%;
    height: 200px;
    clear: left;
    padding-left: 0px;
}

.Concierge {
    width: 32%;
    min-height: 280px;
  }
  .Doctor {
        width: 32%;
        min-height: 280px;
      }
.Oscar {
        width: 32%;
        min-height: 280px;
      }
section {
    width: 100%;
    margin: auto;
    /* padding: 300px; */
}

.column {
    float: left;
    width: 15%;
    padding: 10px;
    margin: 16px;
    color: gray;
}

/* .row {
    /* content: ""; */
    display: table;
    /* clear: both; */
   /* margin-left: 100px;
 */ */
/* footer {
    width: 100%;
    height: 300px;
    clear: right;
    display: inline-block;
    float: none;
} */
ul, h4 {
    display: inline-block;
    float: none;

}
p {
    text-align: center;
}
button {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.center {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.Ready {
font-family: Arial, Helvetica, sans-serif;
    text-align: center;
clear: left;
border-radius: 10px;
color: gray;
}
.Find {
    text-align: center;
}
.You {
    display: inline-block;
    padding: 25px 100px;
    /* margin: 20px; */
    margin: 0 auto;
    background-color: mediumblue;
    color: white;
    border: 2px solid mediumblue
    border-radius: 10px;

}
.Business {
    display: inline-block;
    padding: 25px 100px;
    /* margin: 10px;  */
    margin: 0 auto;
    align-items: center;
    color: mediumblue;
}
.buttons {
    margin: 50px;
    padding-left: 320px;
}