/* VARIABLES */
:root {
  --bright-pink: #e74c83;
  --purple: #735066;
  --dusty-blue: #74c4cc;
  --bright-blue: #14bece;
}

/* GENERAL */
body {
  background: #ddd;
  font-family: helvetica;
}

/* CONTAINERS */
.container {
  width: 80vw;
  height: 70vw;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb,
              -1px -1px 10px #bbb,
              1px -1px 10px #bbb,
              -1px 1px 10px #bbb;
}
.sidebar {
  width: 50%;
  background: url('assets/images/neon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.registration {
  width: 50%;
  background: #f9f9f9;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

/* ETC. DECORATION */
h1 {
  font-family: 'Oswald';
  font-weight: 500;
  color: var(--bright-pink);
  border-bottom: 2px solid var(--bright-blue);
}

/* FORMS */
