
body {
    margin: 0;
}
img {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1 {
    width: 30%;
}

.flex-5 {
    width: 48%;
}

.flex-7 {
    width: 70%;
}

.flex-3 {
    width: 31%;
}

.logo {
    width: 90px;
}

.margin-bottom {
    margin: 2rem;
}