* {
  border: 1px solid teal;
}

body {
  background: blanchedalmond;
  color: dodgerblue;
}

article {
  background: silver;
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  margin: 0 1.3%;
  padding: 10px;
}

main {
  background: indigo;
  width: 80%;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: justify;
}

img {
  width: 70%;
  margin:auto;
  display: block;
}
