header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   width: 90%;
   background-color: white; 
   margin: 0 auto;
   padding-bottom: 20px;
  
}
h1  {
    color: lavender;
}
img {
    width: 70%;
    margin: 0 auto;
}
h2 {
    color: rgb(26, 26, 73);
}

h3 {
    text-align: center;
    color: lavender;
}
article > h2 {
   text-align: center; 
}
main {
    background-color: #666666;
    
}
section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    /* padding-left: 20px; */
    margin-bottom: 50px;
    
}


.section2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    /* padding-left: 20px; */
    margin-bottom: 50px;
    
}

footer {
    background-color: white;
}
body {
    background-color: lavender;
}
ol {
    float: right;
    display: inline;
}