$sg-neon-green   : #53d164;
$sg-grey  : #515358;
$sg-dolphin-blue  : #25bfd0;

.display {
    display: flex;
    background-color: $sg-neon-green;
    justify-content: flex-end;
    width: 300px;
    height: 50px;
    border: 1px solid $sg-neon-green;
    margin: auto;
    font-size: 3rem;
}

.wrapper {
    background-color: darken($sg-grey, 30%);
    height: 310px;
    width: 320px;
}

.buttonstyle {
    display: flex;
    // background-color: $sg-grey;
    justify-content: space-evenly;
    height: 70px;
}


.buttons {
    @extend .buttonstyle;
    div {
        width: 40px;
        height:40px;
        background-color: $sg-grey;
    }
}


