@font-face {
    font-family: "Afta-Sans";
    src: url("../assets/fonts/afta-sans/AftaSansThin-Regular.otf") format("truetype");
  }
  
  @font-face {
    font-family: "Chunk";
    src: url("../assets/fonts/ChunkFive/Chunkfive.otf") format("truetype");
  }
  
  @font-face {
    font-family: 'Speck';
    src: url("../assets/fonts/Speck-Display.otf") format('truetype');
  }