.container {
    background-color: lightgrey;
    width: auto;
    height: 100vh;
    display: flex;
    
}

.sidebar{
    width: 20%;
    height: 80%;
    background-color: gray;
    align-content: center;
    margin-left: 2%;
    margin-top: 10%;
    align-items: center;
    
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100%;
    list-style: none;
    line-height: 2rem;
    
}

.numbers{
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    
}

.review{
display: flex;
flex-direction: column;
width: 25%;
height: 15rem;
background-color: gray;
flex-wrap: wrap;

}

.column{
    border: 1px solid red;
    flex-wrap: wrap;
    width: 50%;
}



