body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/5c/7a/93/5c7a9388fd4cb59fcbb9fedc5fa12bd3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
