* {
    box-sizing: border-box;
  }
  
  body {
    height: calc(100vh - 120px);
    margin: 0;
    font-family: Helvetica;
    display: flex;
    flex-wrap: wrap;
  }
  
  header {
    background-color: #ff9e7a;
    width: 100%;
    height: 60px;
  }
  
  footer {
    background-color: #b1fcc8;
    height: 60px;
    width: 100%;
  }
  
  aside {
    background-color: #ffe07a;
    height: 100%;
  }
  
  main {
    background-color: #bf9df7;
  }
  aside, main {
    width: 100%;
    height: calc( (100vh - 120px) / 2);
  }
  
  header, footer, aside, main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
/**when we are at a minimum of 768px use this style**/
  @media only screen and (min-width: 768px) {
    aside {
      background-color: red;
    }

    main {
      background-color: lightseagreen;
    }
/*closing media query */
  }
  /* Desktop Break point */
/**when we are at a minimum of 1024px use this style**/
  @media only screen and (min-width: 1024px) {
    aside{
      width: 30%;
    }
    main{
      width: 70%;
    }
    aside,main{
      height: calc(100vh - 120px);
    }
  }

